<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tencent-ilvb"
        version="0.1.0">

  <name>TencentILVB</name>
  <description>Tencent ILVB Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,live,video,tencent,qq,ilvb,lvb</keywords>
  <repo>https://github.com/EaseCloud/cordova-plugin-tencent-ilvb.git</repo>
  <issue>https://github.com/EaseCloud/cordova-plugin-tencent-ilvb/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <asset src="www/ilvb.js" target="js/ilvb.js"/>

  <!-- 这里指定了 js 接口层文件的路径 -->
  <js-module name="TencentILVB" src="www/ilvb.js">
    <!-- 这里指定 window.TencentILVB 可以访问到插件的 js 接口层 -->
    <clobbers target="TencentILVB" />
  </js-module>

  <!-- 目前暂时先做 Android，iOS 会有独立的另一个 platform 节点 -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TencentILVB">
        <param name="android-package" value="cn.easecloud.cordova.tencent.TencentILVB"/>
      </feature>
    </config-file>

    <framework src="src/android/custom.gradle" custom="true" type="gradleReference"/>
    <resource-file src="aar/ilivesdk-1.5.0.aar" target="aar/ilivesdk-1.5.0.aar"/>
    <resource-file src="aar/livesdk-1.1.1.aar" target="aar/livesdk-1.1.1.aar"/>

    <!-- 腾讯直播 SDK -->
    <source-file src="src/android/libs/cos-sdk-android-1.4.3.jar" target-dir="libs" />
    <source-file src="src/android/libs/MobCommons-2017.0216.1054.jar" target-dir="libs" />
    <source-file src="src/android/libs/MobTools-2017.0216.1054.jar" target-dir="libs" />
    <source-file src="src/android/libs/sha1utils.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Core-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-Core-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-Favorite-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-Moments-2.8.1.jar" target-dir="libs" />
    <!--<source-file src="src/android/libs/livesdk-1.1.1-sources.jar" target-dir="libs" />-->
    <!--<source-file src="src/android/libs/ilivesdk-1.5.0-sources.jar" target-dir="libs" />-->

    <!-- 源文件 -->
    <source-file src="src/android/TencentILVB.java" target-dir="src/cn/easecloud/cordova/tencent/"/>
    <source-file src="src/android/TestActivity.java" target-dir="src/cn/easecloud/cordova/tencent/"/>
    <source-file src="src/android/res/layout/layout_test.xml" target-dir="res/layout" />
    <source-file src="src/android/res/values/strings.xml" target-dir="res/values" />

    <!-- Activity -->
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <activity android:name="cn.easecloud.cordova.tencent.TestActivity">
      </activity>
    </config-file>

  </platform>

  <!--<platform name="ios">-->
    <!---->
    <!--<config-file target="config.xml" parent="/widget">-->
      <!--<feature name="Hello">-->
        <!--<param name="ios-package" value="HWPHello" />-->
      <!--</feature>-->
    <!--</config-file>-->

    <!--<header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>-->
    <!--<source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>-->
  <!--</platform>-->

  <!--<platform name="wp7">-->
    <!--<source-file src="src/wp7/Hello.cs"/>-->
  <!--</platform>-->

</plugin>